.section {
    display: flex;
    flex-direction: column;
}

.container {
    height: 565px;
    width: 600px;
    grid-area: constructor;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 464px;
    overflow-y: scroll;
    align-items: flex-end;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    width: 568px;
}

.confirmation {
    box-sizing: border-box;
    padding-right: 57px;
    display: flex;
    justify-content: end;
}

.total {
    font-family: 'Iceland', sans-serif;
    font-size: 48px;
    display: flex;
    align-items: center;
}
