.ingredientCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    height: 208px;
    position: relative;
    cursor: pointer;
}

.number {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #4C4CFF;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Iceland';
    font-size: 28px;
}

.number_visible {
    display: flex;
}

.name {
    /* margin-top: 0; */
    /* margin-bottom: 0; */
}

.price {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: 'Iceland', sans-serif;
    font-size: 28px;
}