.header {
    background-color: #1C1C21;
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigate:nth-child(1) {
    margin-right: 103px;
}

.navigate:nth-child(n+2) {
    margin-left: 288px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.navItem {
    max-width: max-content;
}

.link {
    text-decoration: none;
    color: #F2F2F3;
    display: flex;
    border-radius: 40px;
}

.logo {
    cursor: pointer;
    display: flex;
}

.logo:hover {
    opacity: 0.7;
}

.link:hover {
    opacity: 0.7;
}
